<html>
    <head>
        <title>template is working</title>
    </head>
    <body>
        <h1>welcome</h1>
        <form action="analyze" method="get">
            <textarea name="t1" style="width: 225px; height: 33px;"></textarea><br><br>
            <input type="checkbox" name="remove">remove punction<br><br>
            <input type="checkbox" name="capital">capital<br><br>
            <input type="checkbox" name="newline">newline<br><br>
            <input type="checkbox" name="spaceremover">spaceremover<br><br>
            <input type="checkbox" name="charcount">charcount<br><br>

            
            <input  type="submit" value="submit">
        </form>
    </body>
</html>
